@font-face {
    font-family: 'VodafoneLt';
    src: url('fonts/VodafoneLt-Regular.eot');
    src: 
         url('fonts/VodafoneLt-Regular.eot?#iefix') format('embedded-opentype'),
         url('fonts/VodafoneLt-Regular.woff') format('woff'),
         url('fonts/VodafoneLt-Regular.ttf') format('truetype'),
         url('fonts/VodafoneLt-Regular.svg#open-sans') format('svg');
}
@font-face {
    font-family: 'VodafoneRg';
    src: url('fonts/VodafoneRg.eot');
    src: 
         url('fonts/VodafoneRg.eot?#iefix') format('embedded-opentype'),
         url('fonts/VodafoneRg.woff') format('woff'),
         url('fonts/VodafoneRg.ttf') format('truetype'),
         url('fonts/VodafoneRg.svg#open-sans') format('svg');
}

body
{
    font-family: 'VodafoneLt';
    color: #ffffff;
}

header
{
    max-width: 1280px;
    height: 102px;
}
.wrapper
{
    max-width: 1280px;
    margin: 0 auto;
}
.head 
{
    width: 100%;
    background: url("images/bg-head/rectangle-3.png") no-repeat center center;
    background-size: cover;
    .content-head
    {
        padding: 45px 10px;
        
        .logo
        {
            //tamaño de la imagen del logo en el escritorio.
            width: 151.5px;
            margin:0 auto;
            //Para dispositivos móviles
            @media only screen and (max-width: 320px)
              {
                width: 98.3px;
              }
            //Para tablet
             @media (max-width:768px) and (min-width:320px)
             {
                width: 114px;
             }

            img
            {
                width: 100%;
                max-width: 100%;
            }
        }
        h2,p,a 
        {
            margin:15px 0;
        }
        h2
        {
            font-family: VodafoneRg;
            font-size: 44px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: center;
            //Para móvil
            @media only screen and (max-width: 320px)
              {
                font-size: 30px;
              }
            //Para tablet
             @media (max-width:768px) and (min-width:320px)
             {
                font-size: 36px;
                font-family: VodafoneLt;
             }
            
        }
        p
        {
            text-align: center;
            font-family: VodafoneLt;
            font-size: 30px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #ffffff;
            //Para móvil
            @media only screen and (max-width: 768px)
              {
                font-size: 20px;
              }
            //Para tablet
             @media (max-width:768px) and (min-width:320px)
             {
                font-size: 26px;
             }
            &:nth-of-type(2)
            {
                font-weight: bold;
                font-family: VodafoneRg;    
            }
        }
        a 
        {
            max-width: 7%;
            display: block;
            margin:0 auto;
            text-decoration: none;
            color: #ffffff;
            text-align: center;
            padding: 15px;
            background-color: #e60000;
            @media only screen and (max-width: 768px)
              {
                max-width: 100%;
              }
            
        }
    }
}
.breadcrumbs
{
  height: 60px;
  margin-top: -3px;
  padding: 0 65px;
  line-height: 60px;
  background-color: #666666;
  @media only screen and (max-width: 768px)
  {
    display: none;
  } 
}
.featured
{
    background-color: #333333;
    padding-left:65px;
    padding-right:65px;
    padding-bottom: 79px;
    @media only screen and (max-width: 768px)
      {
        
        margin-top: -3px;
        padding-left:10px;
        padding-right:10px;
        
      }


    h1
    {
        font-family: VodafoneLt;
        font-size: 36px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        width: 100%;
        padding: 50px 0;
        //Para móvil
        @media only screen and (max-width: 320px)
          {
            
            padding: 33px 0;
            font-size: 26px;
          }
        //Para tablet
             @media (max-width:768px) and (min-width:320px)
             {
                font-size: 30px;
             }
    }
    
    .featured-items
    {
        position: relative;
        overflow: hidden;
        height: 400px;
        .slider
        {
            display: flex;
            position: absolute;
            width: 100%;
            @media only screen and (max-width: 768px)
              {
                width: 300%;
              }
            li 
            {
                border: solid 1px #999999;
                margin-right: 10px;
                figure 
                {
                    width: 100%;
                    img
                    {
                        height: 146px;
                        width: 100%;
                        max-width: 100%;
                        //Altura de la imagen en dispositivos móviles.
                        @media only screen and (max-width: 768px)
                          {
                            height: 119px;
                          }
                    }
                    figcaption
                    {
                        padding: 30px 0;
                        h2
                        {
                            font-family: VodafoneRg;
                            font-size: 20px;
                            font-weight: bold;
                            font-style: normal;
                            font-stretch: normal;
                            line-height: normal;
                            letter-spacing: normal;
                            text-align: center;
                                //Para móvil y tablet es el mismo tamaño
                          @media only screen and (max-width: 768px)
                          {         
                            font-size: 18px;
                          }

                        }
                        p
                        {
                            font-family: VodafoneRg;
                            font-size: 16px;
                            font-weight: normal;
                            font-style: normal;
                            font-stretch: normal;
                            line-height: normal;
                            letter-spacing: normal;
                            text-align: center;
                            padding: 15px 15px;
                        }
                    }
                }
            }
        }
    }
    .dots-container
    {
        @media only screen and (min-width: 768px)
          {
            display: none;
          }
        .dots
        {
            width: 53px;
            height: 8px;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;

            li
            {
                width: 8px;
                height: 8px;
                border-radius:50%;
                border: solid 2px #ffffff;
            }
        }
    }
   
    
    h3
    {
          font-family: VodafoneLt;
          font-size: 36px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: normal;
          text-align: center;
          padding: 50px 0;
            //Para móvil
          @media only screen and (max-width: 320px)
          {
            width: 100%;
            font-size: 26px;
          }
          //Para tablet
             @media (max-width:768px) and (min-width:320px)
             {
                font-size: 30px;
             }


    }
    .more-featured
    {
        display: flex;
        flex-wrap: wrap;
        font-family: VodafoneRg;
        font-size: 16px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 18px;
        letter-spacing: normal;
        ul 
        {
            width: 50%;
            @media only screen and (max-width: 768px)
          {
            
            width: 100%;
          }
            li
            {
                
                img
                {
                    padding-right: 10px;
                }
                strong
                {
                    font-weight: bold;
                }
            }
        }
    }
    .tick-or-solved 
    {
        width: 24px;
        object-fit: contain;

    }
}


